<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SAPEnvironment" value="UAT" />
    <add key="OrgId" value="C005" />
  </appSettings>
  <connectionStrings>
		<add name="DefaultConnection" connectionString="server=20.235.14.88; port=3306; database=d002_srtuat;userid=appuser;password=App@dmin#2024;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>