<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SAPEnvironment" value="PRD" />
		<add key="OrgId" value="C005" />
		<add key="InvoiceTemplatePath" value="D:\K_Castaliaz\02_SRTDairy\03_Code\01_MilkIN\MilkIN\MilkIn_SAPPosting\InvoiceTemplate\" />
		<add key="InvoiceFilePath" value="D:\K_Castaliaz\02_SRTDairy\03_Code\01_MilkIN\MilkIN\MilkIn_SAPPosting\VendorInvoices\" />
	</appSettings>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="server=20.235.14.88; port=3306; database=d003_srtprd;userid=appuser;password=App@dmin#2024;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>